<h1>Дисциплины</h1>
<br />
<h2>Круглый стенд</h2>
<div>Перемещаясь от одного стрелкового места к другому (всего восемь стрелковых мест), меняя угол стрельбы относительно траекторий вылетающих мишеней, участник ведёт огонь по тарелочкам, летящим навстречу друг другу из помещений ( вышки  — слева, за спиной первого номера и  будки  — справа, за спиной седьмого номера). Вылет мишеней происходит на разной высоте. Кроме этого, круглый стенд отличается от остальных упражнений задержкой вылета мишени после команды стрелка, которая автоматически варьируется от 0 до 3 секунд</div>
<h2>Траншейный стенд</h2>
<div>Cпортсмен стреляет по тарелочкам, выбрасываемым из траншеи в случайном направлении (налево, направо или прямо. До момента вылета стрелок не может знать, куда полетит мишень)</div>
<h2>Спортинг</h2>
<div>Одна из дисциплин спортинга, при которой на каждом стрелковом месте мишень (тарелочка) имитирует полет конкретного вида дичи (утка, гусь, тетерев, вальдшнеп, болотная дичь, фазан, куропатка, заяц, граус и т.д.). При этом предусматриваются наиболее часто встречающиеся на охоте парные полеты мишеней или одновременные вылеты в одном направлении или вылеты из близко расположенных машинок.</div>
<div>Компакт спортинг – это разновидность стендовой стрельбы, которая проводится на оборудованных специализированных площадках. Как правило площадки для стрельбы Компакт-спортинг оснащены метательными машинками имитирующие разнообразные полеты птиц и бег зверя. Стрелковая площадка для компакт-спортинга имеет размеры 40х25м и состоит из 5 стрелковых мест размером 1х1 м, расположенных в одну линию, расстояние между которыми по осям от 3.3 до 8 метров. На каждом стрелковом месте для обеспечения мер безопасности устанавливаются специальные перегородки, которые не позволяют стрелку направить свое оружие в сторону близстоящего соседа по стрельбе. Как правило, каждая стрелковая площадка оборудуется не менее 6 метательными машинными установками. Мишени подаются в интервале от 0 до 3 секунд. Серия (кол-во выстрелов) состоит из 25 мишеней. Мишени выпускаются по одной (2 выстрела для поражения мишени) и дуплетами (по 1 выстрелу на каждую мишень).</div>
<h3>Мишени</h3>
<div>Угонная мишень — мишень, имеющая направление своего полета «от стрелка».</div>
<div>Встречная мишень — мишень, имеющая направлении своего полета «к стрелку».</div>
<div>Левая, прямая, правая мишень — мишени, вылетающие из машинок соответственно влево, в угон, и вправо от стрелка.</div>
<div>Рваная мишень — мишень, разрушившаяся при выпуске из метательной машинки.</div>
<div>Дублет (дуплет) — мишени подаваемые одновременно, летящие навстречу друг другу (круглый стенд) и параллельно (дабл-трэп).</div>
Таймер — автоматическая задержка вылета мишени от 0 до 3 секунд, после команды стрелка на круглом стенде.
<h2>Программа соревнований </h2>
<div>100, 150, 200 мишеней. Стрельба с подхода (охотничья тропа) — минимально 5 различных траекторий полетов птиц, минимальное количество машинок — 10 шт. Дистанция тропы — до 30 м.</div>
<br />
<b>Замечание:</b>
<div style="font-style:italic">В патронах запрещено смешивать дроби различного диаметра, механизма зарядки или качества.Персонал, судьи и стрелки обязательно должны надевать защитные очки. Зрители, персонал, стрелки и судьи, находящиеся рядом от стрельбы, должны обязательно надевать наушники или другие средства для защиты слуха.</div>