@using System.Web.Security;

@{
    ViewBag.Title = "DetailsTree";
}

@section HeadScripts
{
    <!-- Common Kendo UI CSS for web widgets and widgets for data visualization. -->
    <link href="~/Content/KendoUI/styles/kendo.common.min.css" rel="stylesheet" />
    <!-- (Optional) RTL CSS for Kendo UI widgets for the web. Include only in right-to-left applications. -->
    <link href="~/Content/KendoUI/styles/kendo.rtl.min.css" rel="stylesheet" type="text/css" />
    <!-- Default Kendo UI theme CSS for web widgets and widgets for data visualization. -->
    <link href="~/Content/KendoUI/styles/kendo.bootstrap.min.css" rel="stylesheet" />
    <!-- (Optional) Kendo UI Hybrid CSS. Include only if you will use the mobile devices features. -->
    <link href="~/Content/KendoUI/styles/kendo.bootstrap.mobile.min.css" rel="stylesheet" type="text/css" />
    <!-- Kendo UI combined JavaScript -->
    <style type="text/css">
        .k-treeview .k-item,
        .k-treeview .k-in.k-state-hover,
        .k-treeview .k-in.k-state-focused,
        .k-treeview .k-in.k-state-selected {
            background-color: white;
            color: black;
            border-style: none;
            border-width: 0;
            padding: 2px 4px 2px 3px;
        }
    </style>
    <script id="treeview-template" type="text/kendo-ui-template">
        <div style="width: 800px;" data-id="#= item.ForumThreadId#"  data-createdby="#= item.CreatedBy#">
            #= item.CreatedByName # &nbsp;&nbsp;#= item.CreateDateString # 
            #if (item.IsTopThread) 
            {#
                <div style="font-weight:bold">#= item.Title #</div>                
            #}#
            <br />
            #= item.Description #
            @if (User.Identity.IsAuthenticated)
            {
                <br />
                <a href="\#" onclick="OnReplyClick(this);">Ответить</a>
                <text>#if (item.CreatedBy == UserId)
                {#
                    <a href="\#" onclick="OnEditClick(this, '#= item.Description #');">Редактировать</a>&nbsp;
                    <a href="\#" onclick="OnDeleteClick(this);">Удалить</a>
                #}#                
                </text>
            }
        </div>
    </script>
    <script src="~/Content/KendoUI/js/kendo.all.min.js"></script>
    <script src="~/Content/js/helper.js"></script>
    <script type="text/javascript">
        var WebServiceURL = "@ViewData["DataURL"]";
        var TopThreadId = @ViewData["TopThreadId"];
        var UserId = @(ViewData["UserId"] != null ? ViewData["UserId"].ToString() : "null");
        var DataSource;
        var IsAdd;

        function OnDocumentReady() {
            var URL = WebServiceURL + "/" + TopThreadId;

            $.getJSON(URL,
                function (data) {
                    DataSource = new kendo.data.HierarchicalDataSource({
                        data: data,
                        schema: {
                            model: {
                                children: "Children"
                            }
                        }
                    });

                    $("#divTreeView").kendoTreeView({
                        dataSource: DataSource,
                        dataTextField: ["Description"],
                        template: kendo.template($("#treeview-template").html())
                    });
                }
            );
        }
        function OnReplyClick(Link)
        {
            IsAdd = true;

            ShowReplyForm(true, Link, null);
        }
        function OnEditClick(Link, Text)
        {
            IsAdd = false;

            ShowReplyForm(true, Link, Text);
        }
        function OnDeleteClick(Link)
        {
            if (window.confirm("Вы хотите удалить сообщение ?"))
            {
                var ThreadDiv = $(Link).parent();
                var ThreadId = $(ThreadDiv).attr("data-id");

                $.ajax({
                    type: "DELETE",
                    url: WebServiceURL + "/" + ThreadId,
                    success: function (data) { DataSource.read(); },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });

            }
        }
        function OnReplyCancelClick()
        {
            ShowReplyForm(false, null, null);
        }
        function OnReplySendClick()
        {
            var ThreadDiv = $("#divReplyForm").parent();

            var Description = encodeURIComponent($("#ReplyText").val());
            var ThreadId = $(ThreadDiv).attr("data-id");
            var CreatedBy = $(ThreadDiv).attr("data-createdby");

            if (IsAdd) {
                var ReplyObject =
                    {
                        ThreadParentId: ThreadId,
                        Description: Description,
                        CreatedBy: CreatedBy
                    };

                $.ajax({
                    type: "POST",
                    url: WebServiceURL,
                    data: JSON.stringify(ReplyObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) { DataSource.read(); },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            }
            else
            {
                $.ajax({
                    type: "PUT",
                    url: WebServiceURL + "/" + ThreadId,
                    data: JSON.stringify(Description),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) { DataSource.read(); },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            }
            ShowReplyForm(false);
        }
        function ShowReplyForm(Show, Link, Text)
        {
            var divReplyForm = $("#divReplyForm");

            if (Show)
            {
                if (!divReplyForm.is(':visible')) {
                    divReplyForm.show();
                    $(Link).after(divReplyForm);
                    if (Text != null) $("#ReplyText").val(Text);
                }
            }
            else
            {
                if (divReplyForm.is(':visible')) {
                    divReplyForm.hide();
                    var divTreeView = $("#divTreeView");
                    divTreeView.after(divReplyForm);
                }
            }
        }
    </script>
}
<br />
<div id="divTreeView"></div>
<div id="divReplyForm" style="display:none;width:200px">
    <table style="width:100%">
        <tr>
            <td colspan="2">
                <textarea maxlength="1024" id="ReplyText" cols="60" rows="2"></textarea>
            </td>
        </tr>
        <tr>
            <td align="left">
                <input type="button" value="Отправить" onclick="OnReplySendClick();" />
            </td>
            <td align="right">
                <input type="button" value="Отменить" onclick="OnReplyCancelClick();" />
            </td>
        </tr>
    </table>
</div>

@section BottomScripts
{
    <script type="text/javascript">
        $(document).ready(OnDocumentReady);
    </script>
}
